:root {
  --base-color: rgb(247, 240 234); //CornSilk;
  --dark-color: rgb(101, 67, 33);
  --mid-color: rgb(153, 124, 95);
  --light-color: rgb(204, 85, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: var(--base-color);
}

a:visited,
a:focus,
a:target {
  text-decoration: none; /* 下線を削除 */
  color: inherit;        /* 親要素の色を維持（変えない） */
}
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.noto-serif-jp {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.normal {
  font-weight:400 !important;
}
.bold {
  font-weight:600 !important;
}

/* ヘッダー */
.site-header {
  padding: 1rem;
  background-color: var(--base-color);
  position:relative;
}
.site-header h1 {
  font-size:21px;
  color:var(--dark-color);
  letter-spacing:3px;
  padding-left:.6em;
}


/* ハンバーガー非表示状態（PC/タブレット用） */

.global-nav {
  
}

.global-nav ul {
  list-style:none;
}
.global-nav ul li a {
  text-decoration:none; 
  display:inline-block;
  padding:.4em .8em;
  position:relative;
  letter-spacing:2px;
  color:var(--dark-color) !important;
}


/* ハンバーガーボタン */
.menu-toggle {
  display: none;
  font-size: 2.4rem;
  background: none;
  border: none;
  cursor: pointer;
  position:absolute;
  top:22px;
  right:14px;
}

/* PC表示 */
@media (min-width: 768px) {
  .global-nav ul {
    display: flex;
    gap: 1rem;
  }
}

/* スマホ表示 */
@media (max-width: 767px) {
  .menu-toggle {
    display: block;
    color:var(--dark-color);
    line-height:10px;
    transition:all .3s 0s ease-in-out;
  }
  .menu-toggle span {
    font-size:8px;
  }
  .menu-toggle:hover {
    color:var(--light-color);
  }

  .global-nav {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    z-index:2;
    background:url('../images/ptbk.png') repeat center;
    filter:invert(100%);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .global-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 1rem 0;
    width:100%;
    text-align:center;
    filter:invert(100%);
    color:var(--dark-color);
  }

  /* 開いた状態 */
  .global-nav.active {
    max-height: 300px; /* メニュー全体の高さを想定 */
    opacity: 1;
  }
}


/* PC以上（横並び表示） */
@media (min-width: 768px) {
  .global-nav ul {
    display: flex;
    gap: 1rem;
  }
}

.site-main {
  width:100%;
  margin-bottom:4rem;
}


/* メインビジュアル */
.hero {
  position: relative;
  width: 100%;
  
  /* アスペクト比 2:3 を維持 */
  padding-top: calc(100% * 9 / 16); /* 縦/横 = 2/3 */

  /* 背景画像 */
  background-image: url('../images/main2.webp');
  background-position: center; /* 中央を基準 */
  background-size: cover;      /* 必ず領域いっぱいに */
  background-repeat: no-repeat;

  /* テキストを中央に配置したい場合 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero h2 {
  position: absolute; /* 親.hero内で中央に固定 */
  bottom: 0%;
  right: 0%;
  transform: translate(-10%, -50%);
  margin: 0;
  font-size: 2rem;
  letter-spacing:2px;
  font-weight:bold;
  font-size:14px;
  color:var(--light-color);
  z-index:2;
}
.hero::after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:url('../images/ptbk.png') repeat center;
  background-size:2px 2px;
  filter:invert(100%);
  opacity:.5;
  z-index:1;
}
@media (max-width: 767px) {
  .hero {
      padding-top: calc(100% * 2 / 3); /* 縦/横 = 2/3 */
  }
}

/* コンテンツカード */
.content {
  width:100%;
  max-width:1180px;
  margin:0 auto;
}
.content h3 {
  margin:2em 0 .4em 0;
  width:100%;
  font-size:20px;
  padding-left:20px;
  letter-spacing:2px;
  position:relative;
  color:var(--dark-color);
  display:block;
}
.content h3 span {
  display:inline-block;
  vertical-align:bottom;
  font-size:15px;
  text-indent:.6em;
  letter-spacing:.4px;
  color:var(--mid-color);
}
.content p.summary {
  padding:1em 20px;
  font-size:16px;
  line-height:1.9em;
  color:var(--light-color) !important;
}
.content div.inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.content .flat {
  display:grid;
  gap:10px;
  list-style:none;
  margin:1rem;
  padding:1rem 0;
  border-radius:0.2rem;
  background:rgba(255,255,255,.7);
  color:var(--dark-color);
}
@media (max-width: 767px) {
  .content .flat {
    grid-template-columns:1fr 3fr;
  }
}
@media (min-width: 768px) {
  .content .flat {
    grid-template-columns:1fr 5fr;
  }
}
.content .flat dt {
  display:flex;
  align-items:center;
  justify-content:center;
  line-height:1.8em;
}
.content .flat>* {
  padding:.4rem 0;
  border-bottom:dotted 1px #e9e9e9;
}


.card {
  padding: 1rem 1rem 2rem 1rem;
  border: 1px solid var(--dark-color);
  border-radius: 0.4rem;
}
.card h4 {
  width:100%;
  font-size:18px;
  padding:.4em 0 .3em 0;
  border-bottom:1px solid var(--light-color);
  margin-bottom:1em;
  letter-spacing:2px;
  color:var(--dark-color)
}
.card p {
  line-height:1.9em;
  font-size:15px;
  color:var(--mid-color);
}
/* フッター */
.site-footer {
  padding: 6rem 1rem;
  text-align: center;
  /*background:url('../images/ptbk.png') repeat center / 2px 2px;*/
  background-color:var(--dark-color);
}
.site-footer p {
  color:#fff;
  letter-spacing:2px;
  font-size:14px;
}

@media (min-width: 768px) {
  .content div.inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .content div.inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
